body,
h2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    letter-spacing: 1px;
}

.search-input {
    border-radius: 50px !important;
    padding-left: 18px;
}
